<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contactFormer ANY>
<!ATTLIST contactFormer id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsOverveiw ANY>
<!ATTLIST newsOverveiw id ID #REQUIRED>
<!ELEMENT searchResults ANY>
<!ATTLIST searchResults id ID #REQUIRED>

]>
<root id="-1">
  <home id="1054" key="2b127308-4d87-45dd-892b-12fd560c9645" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-19T15:42:27" updateDate="2016-07-31T18:30:50" nodeName="EN" urlName="en" path="-1,1054" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
    <siteName><![CDATA[Home]]></siteName>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <pageImage3><![CDATA[/media/1008/brand-1.jpg]]></pageImage3>
    <pageImage1><![CDATA[/media/1007/brand-2.jpg]]></pageImage1>
    <pageImage><![CDATA[/media/1002/27.jpg]]></pageImage>
    <pageImage2><![CDATA[/media/1009/brand-2.jpg]]></pageImage2>
    <bodyText><![CDATA[<table border="0" cellspacing="0" cellpadding="0" width="100%" class="table2">
<tbody>
<tr>
<td valign="top"><img src="https://image4.putlocker.is/images/arrow.gif" alt="" /></td>
<td width="100%" align="justify"><strong>Synopsis:</strong> Commander Riker had no choice as acting captain but fire full force on the Borg starship, despite Picard being on board of it, altered to a Borg calling himself Locutus, both ships are damaged.</td>
</tr>
</tbody>
</table>]]></bodyText>
    <languageIcon>1156</languageIcon>
    <home id="1055" key="bf59f1d4-b45e-4ed7-b74c-466029e29cf2" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-07-19T16:08:10" updateDate="2016-07-19T16:08:10" nodeName="Second Home Page" urlName="second-home-page" path="-1,1054,1055" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Second Home page #2]]></pageTitle>
      <pageImage><![CDATA[/media/1003/smoke-feat.jpg]]></pageImage>
      <bodyText><![CDATA[<p>More Body Text</p>]]></bodyText>
    </home>
    <home id="1056" key="9a37aa96-b306-487e-b641-0e44d3681081" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-07-19T16:09:02" updateDate="2016-07-19T16:09:02" nodeName="Third Home Page" urlName="third-home-page" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Third Home Page #3]]></pageTitle>
      <pageImage><![CDATA[/media/1004/brand-2.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Even more body text</p>]]></bodyText>
      <home id="1057" key="b361a02d-e90c-4ce2-b2ac-8327227e30e4" parentID="1056" level="3" creatorID="0" sortOrder="0" createDate="2016-07-19T16:48:31" updateDate="2016-07-20T19:02:18" nodeName="thirdLevelPage" urlName="thirdlevelpage" path="-1,1054,1056,1057" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
        <pageTitle><![CDATA[Third Level]]></pageTitle>
        <pageImage><![CDATA[/media/1005/logo-ocb1.png]]></pageImage>
        <bodyText><![CDATA[<p>third LEVEL!!!!</p>]]></bodyText>
      </home>
    </home>
    <newsOverveiw id="1060" key="0db376bd-3c55-47e7-8ec2-22f3ab052a10" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-07-19T16:57:44" updateDate="2016-07-21T19:03:11" nodeName="News Section" urlName="news-section" path="-1,1054,1060" isDoc="" nodeType="1059" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1058" nodeTypeAlias="newsOverveiw">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the page where all our news items will be displayed</p>]]></newsOverviewBodyText>
      <news id="1065" key="6fb6c114-caae-4518-a197-cd765add2ab2" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2016-07-21T19:04:55" updateDate="2016-07-30T19:33:46" nodeName="My First Umbraco News Item" urlName="my-first-umbraco-news-item" path="-1,1054,1060,1065" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <pageTitle><![CDATA[My First Umbraco news item]]></pageTitle>
        <newsText><![CDATA[<p>So this happend</p>
<p> </p>
<p> </p>
<p> </p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1115,1117,1116,1118,1120" />]]></newsText>
      </news>
      <news id="1066" key="aa72b644-1e11-4d63-84f0-674108c3eae3" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2016-07-21T19:18:07" updateDate="2016-07-30T19:25:30" nodeName="Crazy News 123" urlName="crazy-news-123" path="-1,1054,1060,1066" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <pageTitle><![CDATA[Crazy News 123]]></pageTitle>
        <newsText><![CDATA[<p>Earth has visitors</p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1131,1130,1129,1130,1131,1128,1127,1126,1123,1124,1125" />
<p> </p>
<p> </p>
<p> </p>]]></newsText>
      </news>
    </newsOverveiw>
    <contactPage id="1075" key="28275683-333b-47e5-8b52-822807b8a89c" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-07-28T20:00:03" updateDate="2016-07-28T20:00:03" nodeName="Contact Us" urlName="contact-us" path="-1,1054,1075" isDoc="" nodeType="1074" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1073" nodeTypeAlias="contactPage">
      <pageTitle><![CDATA[Contact us - for an offer]]></pageTitle>
      <contactFormer id="1093" key="69e9922d-afda-42a8-a91d-3e323fd2b716" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2016-07-30T18:15:15" updateDate="2016-07-30T18:15:15" nodeName="Ali Yigit - 30-07-2016 18:15" urlName="ali-yigit-30-07-2016-1815" path="-1,1054,1075,1093" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[asfafqwt]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1094" key="4f0d1fca-0a8b-41a1-b549-ab1cac3507e8" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2016-07-30T18:15:23" updateDate="2016-07-30T18:15:23" nodeName="Ali Yigit - 30-07-2016 18:15 (1)" urlName="ali-yigit-30-07-2016-1815-1" path="-1,1054,1075,1094" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[21qraw1r2q]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1095" key="58523934-7a6c-418d-8392-d11eb6559eef" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2016-07-30T18:23:47" updateDate="2016-07-30T18:23:47" nodeName="Ali Yigit - 30-07-2016 18:23" urlName="ali-yigit-30-07-2016-1823" path="-1,1054,1075,1095" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[45y3w7e]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1096" key="fe1b1767-fe66-4739-b822-f097a1d381ad" parentID="1075" level="3" creatorID="0" sortOrder="3" createDate="2016-07-30T18:24:10" updateDate="2016-07-30T18:24:10" nodeName="awef - 30-07-2016 18:24" urlName="awef-30-07-2016-1824" path="-1,1054,1075,1096" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[awf3@asd.acs]]></emailFrom>
        <dropdownGender><![CDATA[Mrs]]></dropdownGender>
        <contactMessage><![CDATA[31qt312tr3w2qt]]></contactMessage>
        <contactName><![CDATA[awef]]></contactName>
      </contactFormer>
      <contactFormer id="1140" key="53653949-afa6-4e08-b594-ff18d48422f2" parentID="1075" level="3" creatorID="0" sortOrder="4" createDate="2016-07-31T11:56:59" updateDate="2016-07-31T11:56:59" nodeName="Ali Yigit - 31-07-2016 11:56" urlName="ali-yigit-31-07-2016-1156" path="-1,1054,1075,1140" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[qwx½23]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
    </contactPage>
    <searchResults id="1139" key="51eaded9-62a3-4c5e-bfaa-42f6801ac6ce" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2016-07-30T22:02:55" updateDate="2016-07-30T22:06:21" nodeName="Search Results" urlName="search-results" path="-1,1054,1139" isDoc="" nodeType="1136" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1135" nodeTypeAlias="searchResults">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Search Results]]></pageTitle>
      <bodyText><![CDATA[<p>This is what was found: </p>
<?UMBRACO_MACRO macroAlias="SearchResults" />]]></bodyText>
    </searchResults>
  </home>
  <home id="1142" key="21bdc2be-7fe0-47f9-bda5-dc64c6c14383" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-07-31T18:05:16" updateDate="2016-07-31T18:40:05" nodeName="DK" urlName="dk" path="-1,1142" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
    <siteName><![CDATA[Zxa Test Site]]></siteName>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Hjem]]></pageTitle>
    <pageImage3><![CDATA[/media/732/brand-1.jpg]]></pageImage3>
    <pageImage1><![CDATA[/media/733/brand-2.jpg]]></pageImage1>
    <pageImage><![CDATA[/media/734/27.jpg]]></pageImage>
    <pageImage2><![CDATA[/media/735/brand-2.jpg]]></pageImage2>
    <bodyText><![CDATA[<table border="0" cellspacing="0" cellpadding="0" width="100%" class="table2">
<tbody>
<tr>
<td valign="top"><img src="https://image4.putlocker.is/images/arrow.gif" alt="" /></td>
<td width="100%" align="justify"><strong>Synopsis:</strong> Commander Riker had no choice as acting captain but fire full force on the Borg starship, despite Picard being on board of it, altered to a Borg calling himself Locutus, both ships are damaged.</td>
</tr>
</tbody>
</table>]]></bodyText>
    <languageIcon>1157</languageIcon>
    <home id="1143" key="15c4d8ce-23e3-41db-a7c2-225a3077cf6f" parentID="1142" level="2" creatorID="0" sortOrder="0" createDate="2016-07-31T18:05:16" updateDate="2016-07-31T18:11:01" nodeName="Second Home Page" urlName="second-home-page" path="-1,1142,1143" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Second Home page #2]]></pageTitle>
      <pageImage><![CDATA[/media/742/smoke-feat.jpg]]></pageImage>
      <bodyText><![CDATA[<p>More Body Text</p>]]></bodyText>
    </home>
    <home id="1144" key="6bfb8060-0ec3-4367-a958-06f3f4447179" parentID="1142" level="2" creatorID="0" sortOrder="1" createDate="2016-07-31T18:05:16" updateDate="2016-07-31T18:11:01" nodeName="Third Home Page" urlName="third-home-page" path="-1,1142,1144" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Third Home Page #3]]></pageTitle>
      <pageImage><![CDATA[/media/750/brand-2.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Even more body text</p>]]></bodyText>
      <home id="1145" key="0b8aebcd-5a5b-404d-b248-5be173413260" parentID="1144" level="3" creatorID="0" sortOrder="0" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="thirdLevelPage" urlName="thirdlevelpage" path="-1,1142,1144,1145" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Third Level]]></pageTitle>
        <pageImage><![CDATA[/media/759/logo-ocb1.png]]></pageImage>
        <bodyText><![CDATA[<p>third LEVEL!!!!</p>]]></bodyText>
      </home>
    </home>
    <newsOverveiw id="1146" key="49a730ae-13ca-4f59-a607-5c989217f1c5" parentID="1142" level="2" creatorID="0" sortOrder="2" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="News Section" urlName="news-section" path="-1,1142,1146" isDoc="" nodeType="1059" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1058" nodeTypeAlias="newsOverveiw">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the page where all our news items will be displayed</p>]]></newsOverviewBodyText>
      <news id="1147" key="8a323a48-3caa-45fd-a7ac-8369fb490f88" parentID="1146" level="3" creatorID="0" sortOrder="0" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="My First Umbraco News Item" urlName="my-first-umbraco-news-item" path="-1,1142,1146,1147" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[My First Umbraco news item]]></pageTitle>
        <newsText><![CDATA[<p>So this happend</p>
<p> </p>
<p> </p>
<p> </p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1115,1117,1116,1118,1120" />]]></newsText>
      </news>
      <news id="1148" key="9cc5407e-aaff-4c99-a8ba-60246d5da0e7" parentID="1146" level="3" creatorID="0" sortOrder="1" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Crazy News 123" urlName="crazy-news-123" path="-1,1142,1146,1148" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Crazy News 123]]></pageTitle>
        <newsText><![CDATA[<p>Earth has visitors</p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1131,1130,1129,1130,1131,1128,1127,1126,1123,1124,1125" />
<p> </p>
<p> </p>
<p> </p>]]></newsText>
      </news>
    </newsOverveiw>
    <contactPage id="1149" key="3b73154c-d474-441e-be76-7eeea132c90d" parentID="1142" level="2" creatorID="0" sortOrder="3" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Contact Us" urlName="contact-us" path="-1,1142,1149" isDoc="" nodeType="1074" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1073" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Contact us - for an offer]]></pageTitle>
      <contactFormer id="1150" key="a4241eb0-ec4e-4806-8d6b-62546a7c224c" parentID="1149" level="3" creatorID="0" sortOrder="0" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Ali Yigit - 30-07-2016 18:15" urlName="ali-yigit-30-07-2016-1815" path="-1,1142,1149,1150" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <umbracoNaviHide>0</umbracoNaviHide>
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[asfafqwt]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1151" key="364690a1-7b8c-4f96-9e44-816066670efb" parentID="1149" level="3" creatorID="0" sortOrder="1" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Ali Yigit - 30-07-2016 18:15 (1)" urlName="ali-yigit-30-07-2016-1815-1" path="-1,1142,1149,1151" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <umbracoNaviHide>0</umbracoNaviHide>
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[21qraw1r2q]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1152" key="8cd2e446-8198-485d-8e30-09b7fda13823" parentID="1149" level="3" creatorID="0" sortOrder="2" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Ali Yigit - 30-07-2016 18:23" urlName="ali-yigit-30-07-2016-1823" path="-1,1142,1149,1152" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <umbracoNaviHide>0</umbracoNaviHide>
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[45y3w7e]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
      <contactFormer id="1153" key="7578e1d5-376c-484f-a30f-ab2a673ba840" parentID="1149" level="3" creatorID="0" sortOrder="3" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="awef - 30-07-2016 18:24" urlName="awef-30-07-2016-1824" path="-1,1142,1149,1153" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <umbracoNaviHide>0</umbracoNaviHide>
        <emailFrom><![CDATA[awf3@asd.acs]]></emailFrom>
        <dropdownGender><![CDATA[Mrs]]></dropdownGender>
        <contactMessage><![CDATA[31qt312tr3w2qt]]></contactMessage>
        <contactName><![CDATA[awef]]></contactName>
      </contactFormer>
      <contactFormer id="1154" key="ea52ae3f-4deb-48ad-8e60-88ec8a7ce0a8" parentID="1149" level="3" creatorID="0" sortOrder="4" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Ali Yigit - 31-07-2016 11:56" urlName="ali-yigit-31-07-2016-1156" path="-1,1142,1149,1154" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <umbracoNaviHide>0</umbracoNaviHide>
        <emailFrom><![CDATA[Ali.Ringsted@gmail.com]]></emailFrom>
        <dropdownGender><![CDATA[Mr]]></dropdownGender>
        <contactMessage><![CDATA[qwx½23]]></contactMessage>
        <contactName><![CDATA[Ali Yigit]]></contactName>
      </contactFormer>
    </contactPage>
    <searchResults id="1155" key="cd376529-4916-4a03-8e8d-664ba04af107" parentID="1142" level="2" creatorID="0" sortOrder="4" createDate="2016-07-31T18:05:17" updateDate="2016-07-31T18:11:01" nodeName="Search Results" urlName="search-results" path="-1,1142,1155" isDoc="" nodeType="1136" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1135" nodeTypeAlias="searchResults">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Search Results]]></pageTitle>
      <bodyText><![CDATA[<p>This is what was found: </p>
<?UMBRACO_MACRO macroAlias="SearchResults" />]]></bodyText>
    </searchResults>
  </home>
</root>