<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contactFormer ANY>
<!ATTLIST contactFormer id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsOverveiw ANY>
<!ATTLIST newsOverveiw id ID #REQUIRED>

]>
<root id="-1">
  <home id="1054" key="2b127308-4d87-45dd-892b-12fd560c9645" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-19T15:42:27" updateDate="2016-07-24T22:04:33" nodeName="Home Page" urlName="home-page" path="-1,1054" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
    <siteName><![CDATA[Zxa Test Site]]></siteName>
    <pageTitle><![CDATA[ZxaHome1]]></pageTitle>
    <pageImage3><![CDATA[/media/1008/brand-1.jpg]]></pageImage3>
    <pageImage1><![CDATA[/media/1007/brand-2.jpg]]></pageImage1>
    <pageImage><![CDATA[/media/1002/27.jpg]]></pageImage>
    <pageImage2><![CDATA[/media/1009/brand-2.jpg]]></pageImage2>
    <bodyText><![CDATA[<table border="0" cellspacing="0" cellpadding="0" width="100%" class="table2">
<tbody>
<tr>
<td valign="top"><img src="https://image4.putlocker.is/images/arrow.gif" alt="" /></td>
<td width="100%" align="justify"><strong>Synopsis:</strong> Commander Riker had no choice as acting captain but fire full force on the Borg starship, despite Picard being on board of it, altered to a Borg calling himself Locutus, both ships are damaged.</td>
</tr>
</tbody>
</table>]]></bodyText>
    <home id="1055" key="bf59f1d4-b45e-4ed7-b74c-466029e29cf2" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-07-19T16:08:10" updateDate="2016-07-19T16:08:10" nodeName="Second Home Page" urlName="second-home-page" path="-1,1054,1055" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Second Home page #2]]></pageTitle>
      <pageImage><![CDATA[/media/1003/smoke-feat.jpg]]></pageImage>
      <bodyText><![CDATA[<p>More Body Text</p>]]></bodyText>
    </home>
    <home id="1056" key="9a37aa96-b306-487e-b641-0e44d3681081" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-07-19T16:09:02" updateDate="2016-07-19T16:09:02" nodeName="Third Home Page" urlName="third-home-page" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Third Home Page #3]]></pageTitle>
      <pageImage><![CDATA[/media/1004/brand-2.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Even more body text</p>]]></bodyText>
      <home id="1057" key="b361a02d-e90c-4ce2-b2ac-8327227e30e4" parentID="1056" level="3" creatorID="0" sortOrder="0" createDate="2016-07-19T16:48:31" updateDate="2016-07-20T19:02:18" nodeName="thirdLevelPage" urlName="thirdlevelpage" path="-1,1054,1056,1057" isDoc="" nodeType="1053" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1052" nodeTypeAlias="home">
        <pageTitle><![CDATA[Third Level]]></pageTitle>
        <pageImage><![CDATA[/media/1005/logo-ocb1.png]]></pageImage>
        <bodyText><![CDATA[<p>third LEVEL!!!!</p>]]></bodyText>
      </home>
    </home>
    <newsOverveiw id="1060" key="0db376bd-3c55-47e7-8ec2-22f3ab052a10" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-07-19T16:57:44" updateDate="2016-07-21T19:03:11" nodeName="News Section" urlName="news-section" path="-1,1054,1060" isDoc="" nodeType="1059" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1058" nodeTypeAlias="newsOverveiw">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the page where all our news items will be displayed</p>]]></newsOverviewBodyText>
      <news id="1065" key="6fb6c114-caae-4518-a197-cd765add2ab2" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2016-07-21T19:04:55" updateDate="2016-07-21T19:13:39" nodeName="My First Umbraco News Item" urlName="my-first-umbraco-news-item" path="-1,1054,1060,1065" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <pageTitle><![CDATA[My First Umbraco news item]]></pageTitle>
        <newsText><![CDATA[<p>So this happend</p>
<p><img style="width: 112px; height: 73px;" src="/media/1006/visa.png?width=112&amp;height=73" alt="Visa Pic." rel="1064" data-id="1064" /></p>
<p>Hello</p>]]></newsText>
      </news>
      <news id="1066" key="aa72b644-1e11-4d63-84f0-674108c3eae3" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2016-07-21T19:18:07" updateDate="2016-07-21T19:18:09" nodeName="INANILMAZ HABER" urlName="inanilmaz-haber" path="-1,1054,1060,1066" isDoc="" nodeType="1062" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1061" nodeTypeAlias="news">
        <pageTitle><![CDATA[INANILMAZ HABER HEMEN OKUYUN]]></pageTitle>
        <newsText><![CDATA[<p>EYVAY EYVAY</p>
<p><img style="width: 112px; height: 73px;" src="/media/1006/visa.png?width=112&amp;height=73" alt="OLEN OLMUS" rel="1064" data-id="1064" /></p>]]></newsText>
      </news>
    </newsOverveiw>
    <contactPage id="1075" key="28275683-333b-47e5-8b52-822807b8a89c" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-07-28T20:00:03" updateDate="2016-07-28T20:00:03" nodeName="Contact Us" urlName="contact-us" path="-1,1054,1075" isDoc="" nodeType="1074" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1073" nodeTypeAlias="contactPage">
      <pageTitle><![CDATA[Contact us - for an offer]]></pageTitle>
      <contactFormer id="1086" key="bf376f25-3095-4a71-bc97-aacd175c465e" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2016-07-29T19:49:17" updateDate="2016-07-29T19:49:17" nodeName="Zewqme - 29-07-2016 19:49" urlName="zewqme-29-07-2016-1949" path="-1,1054,1075,1086" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Aa3d@gmail.com]]></emailFrom>
        <contactMessage><![CDATA[1254b12]]></contactMessage>
        <contactName><![CDATA[Zewqme]]></contactName>
      </contactFormer>
      <contactFormer id="1087" key="d68da08c-4f74-4b4d-a37b-0d76d76fb3bc" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2016-07-29T19:50:08" updateDate="2016-07-29T19:50:08" nodeName="AAA - 29-07-2016 19:50" urlName="aaa-29-07-2016-1950" path="-1,1054,1075,1087" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[Aliwadgsted@gmail.com]]></emailFrom>
        <contactMessage><![CDATA[1be21qb]]></contactMessage>
        <contactName><![CDATA[AAA]]></contactName>
      </contactFormer>
      <contactFormer id="1088" key="3b33f66a-cef7-4be5-be1e-607ba73cf222" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2016-07-29T19:52:40" updateDate="2016-07-29T19:52:40" nodeName="Zxa ZxaLastName - 29-07-2016 19:52" urlName="zxa-zxalastname-29-07-2016-1952" path="-1,1054,1075,1088" isDoc="" nodeType="1072" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1071" nodeTypeAlias="contactFormer">
        <emailFrom><![CDATA[arwaw@efw.da]]></emailFrom>
        <contactMessage><![CDATA[awdajop]]></contactMessage>
        <contactName><![CDATA[Zxa ZxaLastName]]></contactName>
      </contactFormer>
    </contactPage>
  </home>
</root>