@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
              @using ZxaUmbraco.Controllers;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container-fluid">
    <div class="container">
        @Html.Action("ShowForm", "ContactSurface")
</div>
</div>